
<div class="container-fluid ">
  <header>

<nav class="navbar navbar-light navbar-brand">
  <a class="navbar-brand" href="#">
    <img src="assets\logo.png"  class="cat-logo" alt="caterpillar">
  </a>
  
</nav>
<div class="header-gradient"></div>
  </header>



  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="main-body">
          
<app-login></app-login>
</div>
    </div>
  </div>
  
  
  
  
  
  <footer class="container-fluid text-center bg-lightgray">

      <div class="copyrights" style="margin-top:25px;">
          <p>caterpillar © 2019, All Rights Reserved
              <br>
          <p><a href="https://in.linkedin.com/in/abhilash-sansath-b3962bb4" target="_blank">Linkedin <i class="fa fa-linkedin-square" aria-hidden="true"></i> </a></p>
      </div>
</footer>
</div>



<router-outlet></router-outlet>
